
body {
    background-color: white;
  }
  
  h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
  }

  img {
    border: 3px solid #1596c2;
    border-radius: 50%
  }

  .picEdu{
    border: 3px solid white;
    border-radius: 50%
  }

  .picXp{
    border: 3px solid white;
    border-radius: 50%
  }
  
  p {
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
  } 
  .picRight{
    float: left;
    margin-right: 50px
  }
  .picUI{
    background-color: azure;
  } 
  #titles{
    text-align: center;
    font-size: 35px;
  }
  #logoEdu{
    background-color: #1596c2;
  }
  #logoSkill{
    background-color: gold;
  }

  #logoXp{
    background-color: #1596c2
  }
