<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
    <title>My Story So Far..</title>
</head>
<body>
    <h1>
        My Story So Far..
    </h1>
    <img src="{% static 'images/Visioner-Integrasi💛_190718_0035.jpg' %}" alt="That Handsome Boi" width="250" height="250" class="picRight">
    <h2>
        Dennis Rasyafadhilah Lesmono
    </h2>
    <p>
        Seorang mahasiswa yang sedang memetakan perairan kehidupan kuliah di semester tiga ini. 
        Dennis tertarik dengan dunia Islam, politik, dan olahraga. 
        Buku-buku yang Dennis baca biasanya buku bertema Islam, filosofi, komik, self-development, dan juga sedikit novel-novel roman.  
        Sedang berjuang mendesain web dan kembali beradaptasi dengan koding-mengoding. <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
    
    <div class="container">
        <div class="row" id="titles">
            EDUCATION <br>
        </div>
        <div class="row" id="logoEdu">
            <div class="col">
                <img src="{% static 'images/937px-Makara_UI.png' %}" alt="UI" width="120" height="120" class="picEdu">
            </div>
            <div class="col">
                <img src="{% static 'images/anda.png' %}" alt="UI" width="120" height="120" class="picEdu">
            </div>
            <div class="col">
                <img src="{% static 'images/smansa.png' %}" alt="UI" width="120" height="120" class="picEdu">
            </div>
        </div>
        <div class="row" id="titles">
            SKILLS <br>
        </div>
        <div class="row" id="logoSkill">
            <div class="col">
                <img src="{% static 'images/Leader-512.png' %}" alt="UI" width="120" height="120" class="picLead">
            </div>
            <div class="col">
                <img src="{% static 'images/networking icon.jpg'%}" alt="UI" width="120" height="120" class="picNetwork">
            </div>
            <div class="col">
                <img src="{% static 'images/public speaking icon.jpg' %}" alt="UI" width="120" height="120" class="picPublic">
            </div>
        </div>
        <div class="row" id="titles">
            EXPERIENCE <br>
        </div>
        <div class="row" id="logoXp">
            <div class="col">
                <img src="{% static 'images/Fuki.jpg' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
            <div class="col">
                <img src="{% static 'images/PMB.png' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
            <div class="col">
                <img src="{% static 'images/Forkom Mini.png' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
            <div class="col">
                <img src="{% static 'images/Cap Lembaga - DPM Fasilkom UI.png' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
            <div class="col">
                <img src="{% static 'images/Betis.jpg' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
            <div class="col">
                <img src="{% static 'images/Pemira.png' %}" alt="UI" width="120" height="120" class="picXp">
            </div>
        </div>
    </div>
</body>
</html>